# Database

MONGODB_URI=mongodb+srv://shumaila:shumaila12345@cluster0.bwpdzae.mongodb.net/profile-environmental?retryWrites=true&w=majority
# For production use MongoDB Atlas:
# MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/profile-environmental?retryWrites=true&w=majority

# Authentication
NEXTAUTH_SECRET=your-secret-key-min-32-chars-change-in-production
NEXTAUTH_URL=http://localhost:3000

# File Storage (Production)
# Use Vercel Blob in production
BLOB_READ_WRITE_TOKEN=your-vercel-blob-token

# Optional: Analytics
# NEXT_PUBLIC_GA_ID=G-XXXXXXXXXX

# Environment
NODE_ENV=development
